div#layout_container {
    width: 100%;
    margin: 0 auto;
}

div#top {
    text-align: right;
}

div#left {
    float: left;
    width: 250px;
}

div#content {
    /*margin-left: 250px;*/
    float: left;
    padding-left: 10px;
}

div#content h1 {
    margin-top: 0px;
}

div#content table {
    border-collapse: collapse;
}

div#content table td, div#content table th {
    border: 1px solid lightskyblue;
    padding: 3px 7px 2px 7px;
}

div#content table th {
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: lightblue;
    color:#ffffff;
}
